#main{    
    height: auto;
}

#cabecera{
    height: 4em;
    background-color:#fafafa;
}

#logo{
    background-color:#d16be6
}
#botonera{
    background-color:#603464;
}

#presentacion{
    height: 15em;
    
}

#perfilmio{
    background-color:#a8e0fd;
    
}

#nombre{
    background-color:#a9878d;
   
}

#tecnologias{
    height: 6em;       
}

#tecnolog{
    background-color:#e94e4e;
}

#acerca{
    height: 15em;       
}

#a1{
    background-color:#4af307;
}

#a2{
    background-color:#23b3df;
}

#contacto{
    height: 15em;
    background-color:#1b2541;
}

#cont01{
    background-color:#771b1b;
}
#cont02{
    background-color:#04b32a;
}

#pie{
    height: 6em;
    background-color:#050505;
}