#main{    
    height: auto;
}

#cabecera{
    height: 60px;   
    position: sticky;
    top: 0;
    background-color: rgb(214, 214, 214);
    filter:opacity(80%);
}
#botonera{
   color: black;

}
#presentacion{
    height: auto;
    margin-top: 30px;   
}
#perfilmio{
    color: black;
    height: auto;
    text-align: center;    
}
.img-thumbnail{
    border-radius: 999px;
}
.loSegundo{
    text-align: center;
}
.parper{
    padding: 20px;
}
#nombre{
    color : black;
    height: auto;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;   
}
#tecnologias{     
     background-color: aquamarine;      
}
#tecnolog1, #tecnolog2, #tecnolog4, #tecnolog5, #tecnolog6, #tecnolog7 {
    background-color:#e94e4e;
    height: 1em;
}
#acerca{
    margin-top: 10px;    
}
#a1{    
    margin-top: 30px;
}
#a2{
    background-color:#23b3df;
}
#pie{
    margin-top: 20px;
    height: 6em;
    background-color:#050505;
}
#form-box {    
    height: 470px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    background-color: white;
    box-shadow: 13px 15px 10px #555555;
  }  
  #form-box ol li {
    list-style-type: none;
    padding-top: 10px;
  }
  
  #form-box ol {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 20px;
  }  
  #contacto {
    background-color: #fdfdff;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }  
  #main-contacto {
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #ffffff;
  }  
  #form-name, #nombres2, #form-nombres, #form-textarea, #form-email, #form-last{
    height: auto;
    width: 100% ;
    text-align: center;
  }
 